<div class="container__big-card">
    <div class="big-card__photo">
        <img src="https://cdn.mos.cms.futurecdn.net/53pS79yhF9SwuEsjQfNbsX.jpg" alt="" 
        height="200px"
        srcset="">
    </div>
    <div class="big-card__title">
        <h1><a href="#">Saiu a nova versão do Angular</a>
        </h1>
    </div>
    <div class="big-card__description">
        <p>
            <a href="#">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem eum eligendi voluptates eaque vel vero, saepe error quisquam porro temporibus ea qui earum necessitatibus accusantium reprehenderit laudantium laboriosam consectetur fuga.</a>
        </p>
    </div>
</div>
