
.container__menu-bar > ul{
    display: flex;
    flex-direction: row;
}
.container__menu-bar > ul > li{
    margin-left: 20px;
    list-style: none;
}
@media screen and (max-width:600px){
    .container__menu-bar > ul{
     width: 160px;
    }
 }

